.App-header {
  background-color: #1c1e24;
  height: 8vh;
}

.App-nav {
  background-color: #282c34;
  min-height: 92vh;
  border-top: solid #333842 4px;
}

.App-navlink:hover {
  background-color: #3d4148;
}

.App-navlink-selected {
  background-color: #3d4148;
}

.navbar-item {
  color: white;
  opacity: 100;
}
